/*
    * Prefixed by https://autoprefixer.github.io
    * PostCSS: v8.4.14,
    * Autoprefixer: v10.4.7
    * Browsers: last 2 version
    */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #f8faf9;
    font-family: "Titillium Web", "sans-serif";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

main {
    margin: 150px auto 0;
    padding: 0 20px;
    text-align: center;
    max-width: 700px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 2;
}

h2 {
    font-size: 30;
    font-weight: 600;
    line-height: 1.8;
}

a {
    color: #750000;
    text-decoration: none;
    -webkit-transition: text-shadow 0.2s;
    transition: text-shadow 0.2s;
}

a:visited {
    /* visited link */
    color: #900;
}

a:hover {
    /* No underlining hoverwing over a link */
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(43, 43, 43, 0.4);
}

a:focus {
    /* No underlining hoverwing over a link */
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(43, 43, 43, 0.4);
}

a:active {
    /* selected link */
    color: #ff1a1a;
}

button {
    border: none;
    background-color: #357b70;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(43, 43, 43, 0.4);
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.button {
    border: none;
    background-color: #357b70;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(43, 43, 43, 0.4);
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.button:visited {
    border: none;
    background-color: #357b70;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(43, 43, 43, 0.4);
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

input[type="submit"] {
    border: none;
    background-color: #357b70;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(43, 43, 43, 0.4);
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    cursor: pointer;
    opacity: 0.8;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item,
.navigation-list__item--active,
.navigation-list__item:hover,
.navigation-list__item--active:hover {
    padding: 10px;
    position: relative;
    text-shadow: none;
}

/* navigation element border */

.navigation-list__item::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #900;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.navigation-list__item::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #900;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.navigation-list__item::before {
    top: 0;
    -webkit-transform-origin: left;
    transform-origin: left;
}

.navigation-list__item::after {
    bottom: 0;
    -webkit-transform-origin: right;
    transform-origin: right;
}

.navigation-list__item:hover::before,
.navigation-list__item:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* navigation element border on active element */

.navigation-list__item--active::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #900;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.navigation-list__item--active::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #900;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.navigation-list__item--active::before {
    top: 0;
    -webkit-transform-origin: left;
    transform-origin: left;
}

.navigation-list__item--active::after {
    bottom: 0;
    -webkit-transform-origin: right;
    transform-origin: right;
}

.navigation-list__item--active:hover::before,
.navigation-list__item--active:hover::after {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

/* profile div  */

.profile {
    max-width: 700px;
    margin: 150px auto;
    padding: 0 20px;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
    border: 1px solid black;
    -webkit-box-shadow: 2px 2px 10px #2b2b2b;
    box-shadow: 2px 2px 10px #2b2b2b;
}

/* footer styles */

.page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    clear: both;
}

/* header styles */

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8faf9;
    min-width: 370px;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid rgba(43, 43, 43, 0.4);
}

.page-header__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px;
}

img.page-header__item {
    -o-object-fit: contain;
    object-fit: contain;
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
}

/* projects grid */

.project-list__item {
    display: inline-block;
    width: 30%;
    padding: 5px;
    margin: 5px;
    background-color: #dcd9d9;
}

@supports (display: grid) {
    .project-list {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        padding: 20px;
    }

    .project-list__item {
        background-color: #dcd9d9;
        width: auto;
        min-height: auto;
        margin: 0;
    }

    .project-list__item:first-child {
        -ms-grid-column: 1;
        grid-column: 1 / 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1 / 3;
    }
}

.spinning-dragon {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: spinning 5s infinite linear;
    animation: spinning 5s infinite linear;
}

.flying-dragon {
    -webkit-animation: 5s fly infinite alternate linear;
    animation: 5s fly infinite alternate linear;
}

@media all and (max-width: 500px) {
    .project-list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .project-list {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .project-list {
        grid-gap: 10px;
    }

    .project-list__item:first-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }

    main {
        margin: 200px 10 0;
    }

    .navigation-list__item,
    .navigation-list__item--active,
    .navigation-list__item:hover,
    .navigation-list__item--active:hover {
        padding: 3px;
        margin: 10px auto 0;
        display: inline-block;
    }
}

@-webkit-keyframes spinning {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinning {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes fly {
    from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    to {
        -webkit-transform: translate(10px, 10px);
        transform: translate(10px, 10px);
    }
}

@keyframes fly {
    from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    to {
        -webkit-transform: translate(10px, 10px);
        transform: translate(10px, 10px);
    }
}
